# please use trailing slashes for directories, and please check the `copyToOpenSource` task in build.sbt before doing complicated stuff
captures/
target/
out/
bin/
gen/
*.iml
*.bc
.idea/
atlassian-ide-plugin.xml
artifacts/
proguard-sbt.txt
